# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List libraries used by Data Scientists 
* A table of Data Science tools 
* Arithmetic expression example

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientists:
1. Pandas
2. Matplotlib
3. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zepplelin|
|RStudio|

### Below are a few example of evaluating arithmetic expressions in Python

This is a simple arithmetic to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Mami Seki